button {
  font-family: Montserrat, Arial;
  font-size: 14px;
}

.social-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linked-in-button {
  width: 140px;
  height: 40px;
  border-radius: 50px;
  border: none;
  background-color: #0077b5;
  margin-bottom: 10px;
}

.linked-in-button:hover {
  cursor: pointer;
}

.linked-in-link:visited {
  color: white;
}

.twitter-button {
  width: 140px;
  height: 40px;
  border-radius: 50px;
  border: none;
  background-color: #1da1f2;
  margin-bottom: 10px;
}

.twitter-button-link:visited {
  color: white;
}

.github-button {
  width: 140px;
  height: 40px;
  border-radius: 50px;
  border: none;
  background-color: #6cc644;

  margin-bottom: 10px;
}

.github-button-link:visited {
  color: white;
}
