.social-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linked-in-button {
  font-weight: bold;
  width: 140px;
  height: 40px;
  border-radius: 50px;
  border: none;
  background-color: #0077b5;
  margin-bottom: 10px;
  transition: all 0.15s;
}

.linked-in-link {
  text-decoration: none;
}

.linked-in-button:hover {
  cursor: pointer;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

.linked-in-link:visited {
  color: white;
}

.linked-in-button:active {
  opacity: 0.7;
}

.twitter-button {
  font-weight: bold;
  width: 140px;
  height: 40px;
  border-radius: 50px;
  border: none;
  background-color: #1da1f2;
  margin-bottom: 10px;
  transition: all 0.15s;
}

.twitter-button-link {
  text-decoration: none;
}

.twitter-button:hover {
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

.twitter-button-link:visited {
  color: white;
}

.twitter-button:active {
  opacity: 0.7;
}

.github-button {
  font-weight: bold;
  width: 140px;
  height: 40px;
  border-radius: 50px;
  border: none;
  background-color: #6cc644;
  margin-bottom: 10px;
  transition: all 0.15s;
}

.github-button-link {
  text-decoration: none;
}

.github-button-link:visited {
  color: white;
}

.github-button:hover {
  cursor: pointer;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

.github-button:active {
  opacity: 0.7;
}
